$breakpoint-small: 480px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 960px !default;
$breakpoint-xlarge: 1220px !default;
$breakpoint-mini-max: (
  $breakpoint-small - 1) !default;
$breakpoint-small-max: (
  $breakpoint-medium - 1) !default;
$breakpoint-medium-max: (
  $breakpoint-large - 1) !default;
$breakpoint-large-max: (
  $breakpoint-xlarge - 1
);
$icon-font: FontAwesome;

$color-light-darker: #DAEFFE;
$color-light-lighter: #EDF8FF;

$color-medium-darker: #056DB8;
$color-medium-lighter: #058BE8;

$color-dark: #034f84;

$color-yellow-lighter: #F2DD05;
$color-yellow-darker: #ffce23;