$breakpoint-small: 480px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 960px !default;
$breakpoint-xlarge: 1220px !default;
$breakpoint-mini-max: (
  $breakpoint-small - 1) !default;
$breakpoint-small-max: (
  $breakpoint-medium - 1) !default;
$breakpoint-medium-max: (
  $breakpoint-large - 1) !default;
$breakpoint-large-max: (
  $breakpoint-xlarge - 1
);
$icon-font: FontAwesome;

$color-light-darkness: #BAE4FF;
$color-light-darker: #DAEFFE;
$color-light-lighter: #EDF8FF;

$color-medium-lighter: #0465A9;
$color-medium-darker: #056DB8;

$color-dark-lighter: #034f84;
$color-dark-darker: #034777;

$color-yellow-lighter: #F2DD05;
$color-yellow-darker: #ffce23;

$color-red-lighter: #fb0004;
$color-red-darker: #b60b0b;