@import "variables";

.contacts-row + .contacts-row {
  margin-top: 30px;
}

.contacts-details {
	display: flex;
  flex-wrap: wrap;
  margin-left: -35px;
  margin-top: -35px;
}

.contacts-details__gallery {
  padding-left: 35px;
  padding-top: 35px;
  width: calc(100% / 3);
  @media (max-width: $breakpoint-mini-max) {
    width: 100%;
  }
}

.contacts-details__description {
  padding-left: 35px;
  padding-top: 35px;
  width: calc((100% / 3) * 2);
  @media (max-width: $breakpoint-mini-max) {
    width: 100%;
  }
}

.contacts-map {
  margin: 30px 0;
}

.contacts-content {

}

.contacts-path {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
}

.contacts-path__title {
  text-align: center;
  color: #005976;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 15px;
}

.contacts-path__description {
  width: 50%;
  padding-right: 5%;
}

.contacts-path__description p {
  margin: 0;
}

.contacts-path__description p + p {
  margin-top: 15px;
}

.contacts-path__image {
  width: 50%;
}

.contacts-path__image img {
  display: block;
}

.contacts-cdek {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
}

.contacts-cdek__title {
  text-align: center;
  color: #005976;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 15px;
}

.contacts-cdek__description {
  width: 100%;
}

.contacts-cdek__description p {
  margin: 0;
}

.contacts-cdek__description p + p {
  margin-top: 15px;
}

.contacts-cdek__widget {
  width: 100%;
}
