@import "variables";

.service-menu {
  background: #005976;
}

.service-menu__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -8px;
}

.service-menu__item {
  font-size: 16px;
  line-height: 1;
  display: flex;
  color: #fff;
  text-decoration: underline;
  padding: 4px 8px;
  text-align: center;
  align-items: center;
  min-height: 36px;
  &:hover {
    background-color: #004961;
    text-decoration: underline;
    color: #fff;
  }
  &_how-to {
    order: 10;
  }
  &_discount {
    order: 70;
  }
  &_credit {
    order: 30;
  }
  &_reviews {
    order: 90;
  }
  &_track {
    order: 50;
  }
  &_payment {
    order: 20;
  }
  &_delivery {
    order: 40;
  }
  &_articles {
    order: 80;
  }
  &_guarantee {
    order: 60;
  }
}

.service-menu__catalog {
  display: none;
}


.header-contacts {
  display: flex;
  line-height: 1;
  font-size: 19px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 6px;
  @media (max-width: $breakpoint-medium-max) {
    font-size: 13px;
    margin-top: 0;
  }
}

.header-contacts__label {
  color: #fff;
  margin-right: 27px;
  letter-spacing: 0.5px;
  @media (max-width: $breakpoint-medium-max) {
    margin-right: 5px;
  }
}

.header-contacts__list {
  line-height: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  letter-spacing: 0.5px;
  li {
    margin-left: 13px;
    @media (max-width: $breakpoint-medium-max) {
      margin-left: 5px;
    }
    &:first-child {
      margin-left: 0;
    }
    a {
      color: #ffffff;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.header-contacts__more::after {
  content: '>';
  display: inline-block;
  transform: rotate(90deg);
  margin-left: 17px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  @media (max-width: $breakpoint-medium-max) {
    display: none;
  }
}
