@import "variables";

.service-menu {
  background: #005976;
}

.service-menu__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -8px;
}

.service-menu__item {
  font-size: 16px;
  line-height: 1;
  display: flex;
  color: #fff;
  text-decoration: underline;
  padding: 4px 8px;
  text-align: center;
  align-items: center;
  min-height: 36px;
  &:hover {
    background-color: #004961;
    text-decoration: underline;
    color: #fff;
  }
  &_how-to {
    order: 10;
  }
  &_discount {
    order: 70;
  }
  &_credit {
    order: 30;
  }
  &_reviews {
    order: 90;
  }
  &_track {
    order: 50;
  }
  &_payment {
    order: 20;
  }
  &_delivery {
    order: 40;
  }
  &_articles {
    order: 80;
  }
  &_guarantee {
    order: 60;
  }
}

.service-menu__catalog {
  display: none;
}
