@import "variables";

.office-auth#office-auth-form .red {
  color: red;
}

.auth-container {
  max-width: 480px;
  margin: 32px auto 96px;

  @include --md {
    padding: 24px;
    border-radius: 12px;
    // background-color: #f8f8f8;
    box-shadow: 0 0 5px #04021821;
    box-sizing: border-box;
  }
}

.office-auth {
}

.office-auth__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.office-auth__label-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.office-auth__link-button {
  padding: 0;
  border: none;
  background: transparent;
  color: #0699bc;
  cursor: pointer;
  border-bottom: 1px dashed currentColor;
  font-size: 14px;
  line-height: 1;
  &:hover {
    color: #f18a16;
  }
}

.office-auth__row {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &[hidden] {
    display: none;
  }
}

.office-auth__label {
  font-size: 16px;
  line-height: 1;
  color: #9c9c9c;
}

.office-auth__control {
  display: flex;
  > input {
    padding: 0 16px;
    min-height: 36px;
    font-size: 16px;
    line-height: 1;
    border-radius: 4px;
    background-color: #f8f8f8;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    width: 100%;
  }
  // @include --max-md {
  //   > input {
  //     background-color: #f8f8f8;
  //   }
  // }
}

.office-auth__desc {
  font-size: 14px;
  line-height: 1;
  color: #000;
}

.office-auth__submit {
}

.office-auth__providers {
}

.office-auth-providers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.office-auth-providers__label {
  font-size: 16px;
  line-height: 1;
  color: #9c9c9c;
}

.office-auth-providers__control {
}

.office-auth-providers__desc {
  font-size: 14px;
  line-height: 1;
  color: #000;
}

.office-auth__error {
}

.office-auth__message {
  line-height: 1.25;
  font-size: 14px;
  background-color: #37bc214d;
  padding: 24px;
  border-radius: 12px;

  @include --max-md {
    padding: 16px;
  }
}

.office-logout {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;

  @include --max-md {
    flex-direction: column;
  }
}

.office-logout__avatar {
  display: flex;
  width: 84px;
  height: 84px;
  flex-shrink: 0;

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.office-logout__content {
}

.office-logout__welcome {
  font-size: 16px;
  line-height: 1.25;

  @include --max-md {
    font-size: 16px;
    text-align: center;
  }
}

.office-logout__links {
  display: flex;
  gap: 12px;
  margin-top: 16px;

  @include --max-md {
    justify-content: center;
  }
}

.office-container {
  margin: 32px auto 96px;

  @include --md {
    max-width: 680px;
    padding: 24px;
    border-radius: 12px;
    // background-color: #f8f8f8;
    box-shadow: 0 0 5px #04021821;
    box-sizing: border-box;
  }
}

.user-card {
  display: flex;
  gap: 24px;

  @include --max-md {
    gap: 12px;
    margin: 32px 0;
  }
}

.user-card__avatar {
  display: flex;
  flex-shrink: 0;
  width: 84px;
  height: 84px;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  @include --max-md {
    width: 64px;
    height: 64px;
  }
}

.user-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.user-card__email {
  font-size: 16px;
  line-height: 1;
  color: #0699bc;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;

  @include --max-md {
    font-size: 14px;
    margin-top: 8px;
    gap: 4px;
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.user-card__discount {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e3e3e3;

  @include --max-md {
    padding-bottom: 8px;
    margin-top: 16px;
    border-bottom-color: #f3f3f3;
  }
}

.user-card__discount-label {
  font-size: 16px;
  line-height: 1;
  color: #000000;

  @include --max-md {
    font-size: 14px;
  }
}

.user-card__discount-value {
  font-size: 16px;
  color: #0699bc;
  font-weight: 700;
  line-height: 1;

  @include --max-md {
    font-size: 14px;
  }
}

.user-info {
  margin: 48px 0;
  font-size: 16px;
  line-height: 20px;
  color: #222222;

  @include --max-md {
    font-size: 14px;
    line-height: 18px;
    margin: 32px 0;
  }
}

.user-info__title {
  font-weight: 700;
  margin-bottom: 16px;
}

.user-info__name {
  margin-bottom: 16px;
}

.user-info__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-info__field {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.user-info__field-label {
}

.user-info__field-value {
  font-weight: bold;
}

.user-actions {
  display: flex;
  gap: 12px;
}

.profile-form {
  display: grid;
  row-gap: 24px;
  column-gap: 16px;
  grid-template-columns: repeat(12, 1fr);
}

.profile-form__row {
  grid-column: span 12 / span 12;
}

.profile-form__row_1 {
  grid-column: span 1 / span 1;
}

.profile-form__row_2 {
  grid-column: span 2 / span 2;
}

.profile-form__row_3 {
  grid-column: span 3 / span 3;
}

.profile-form__row_4 {
  grid-column: span 4 / span 4;
}

.profile-form__row_5 {
  grid-column: span 5 / span 5;
}

.profile-form__row_6 {
  grid-column: span 6 / span 6;
}

.profile-form__row_7 {
  grid-column: span 7 / span 7;
}

.profile-form__row_8 {
  grid-column: span 8 / span 8;
}

.profile-form__row_9 {
  grid-column: span 9 / span 9;
}

.profile-form__row_10 {
  grid-column: span 10 / span 10;
}

.profile-form__row_11 {
  grid-column: span 11 / span 11;
}

.profile-form__subtitle {
  grid-column: span 12 / span 12;

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 12px 0;
  border-bottom: 1px solid #e3e3e3;
}

.profile-form__label {
  font-size: 16px;
  line-height: 1;
  color: #9c9c9c;
  margin-bottom: 8px;
  display: block;
}

.profile-form__control {
  display: flex;
  > input {
    padding: 0 16px;
    min-height: 36px;
    font-size: 16px;
    line-height: 1;
    border-radius: 4px;
    background-color: #f8f8f8;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    width: 100%;
  }
  // @include --max-md {
  //   > input {
  //     background: #f8f8f8;
  //   }
  // }
}

.profile-form__desc {
  font-size: 14px;
  line-height: 1;
  color: #000;
  display: block;
  margin-top: 8px;
}

.profile-form__message {
  display: block;
  margin-top: 8px;
}

.profile-form-avatar {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-grow: 1;

  @include --max-md {
    flex-direction: column;
  }
}

.profile-form-avatar__image {
  display: flex;
  height: 64px;
  width: 64px;
  flex-shrink: 0;
  img {
    border-radius: 8px;
    width: 100%;
    height: auto;
  }
}

.profile-form-avatar__actions {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.profile-form__warning {
  grid-column: span 12 / span 12;

  font-size: 16px;
  line-height: 1.25;
  color: darkred;
}

.profile-form__actions {
  grid-column: span 12 / span 12;

  display: flex;
  align-items: center;
  gap: 12px;
  > * {
    flex-grow: 1;
  }
}
