@import "variables";

body .ui-front {
  // margin-top: 8px;
  z-index: 986;
  // @media (max-width: $breakpoint-mini-max) {
  //   margin-top: 4px;
  // }
}
body .ui-menu .ui-menu-item-wrapper {
  padding: 0;
}
body .ui-menu .ui-menu-item {
  border-bottom: 1px solid #a2a2a2;
}
// body .ui-menu .ui-menu-item:last-child {
//   border-bottom: none;
// }
body .ui-widget.ui-widget-content {
  border: none;
}
body .ui-state-active,
body .ui-widget-content .ui-state-active,
body .ui-widget-header .ui-state-active,
body a.ui-button:active,
body .ui-button:active,
body .ui-button.ui-state-active:hover {
  border: 1px solid #01718f;
  background: #01718f;
  font-weight: normal;
  color: #fff;
}
.ui-menu.ui-widget-content .mse2-ac-more.ui-menu-item {
  background-color: #014b63;
  color: #ffffff;
  border-bottom: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;
}
.ui-menu.ui-widget-content .mse2-ac-more.ui-menu-item:hover {
  background: #002837;
}
.ui-menu.ui-widget-content .mse2-ac-more.ui-menu-item a {
  color: inherit;
  text-decoration: underline;
  display: block;
  padding: 8px;
  text-align: center;
}
.ui-menu.ui-widget-content .mse2-ac-more.ui-menu-item {
  position: absolute;
  top: 100%;
  right: 0;
  height: 42px;
  width: 42px;
  z-index: 2;
  background-color: #014b63;
  color: #ffffff;
  border-bottom: none;
  cursor: pointer;
  border-top: none;
  border-right: none;
}
.ui-menu.ui-widget-content .mse2-ac-more.ui-menu-item:hover {
  background: #002837;
}
.ui-menu.ui-widget-content .mse2-ac-more.ui-menu-item::before {
  content: "";
  width: 20px;
  height: 1px;
  background: currentColor;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  border-radius: 2px;
  transform: rotate(-45deg) translate(-50%, -50%);
}
.ui-menu.ui-widget-content .mse2-ac-more.ui-menu-item::after {
  content: "";
  width: 20px;
  height: 1px;
  background: currentColor;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  border-radius: 2px;
  transform: rotate(45deg) translate(-50%, -50%);
}
.mse2-ac-item {
  display: flex;
  align-items: center;
}
.mse2-ac-item__separator {
}
.mse2-ac-item__image {
  width: 48px;
  height: 48px;
  display: block;
  flex-shrink: 0;
}
.mse2-ac-item__title {
  flex-grow: 1;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  line-height: 1;
  padding: 8px 0;
}
.mse2-ac-item__price {
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  line-height: 1;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
}
.mse2-ac-item__price i {
  font-size: 12px;
}
.mse2-ac-item__price-old {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: 100%;
  right: 0;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #0089ae;
  background: #01718f;
  font-weight: normal;
  color: #fff;
}

.search-form {
  position: relative;
}
.search-form input[name="query"] {
  background-color: #014b63;
  border: 1px solid #0eb5e2;
  box-shadow: 0 0 0 1px #067fa4;
  padding: 0 20px;
  min-height: 44px;
  color: #fff;
  font-size: 18px;
  width: 100%;
  @media (max-width: $breakpoint-mini-max) {
    padding: 0 12px;
    font-size: 14px;
    min-height: 32px;
  }
}
.search-form input[name="query"]::placeholder {
  color: #fff;
}
.search-form button {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  display: block;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #fff;
  font-size: 16px;
  background: transparent;
}
.search-form_empty + #mse2_mfilter .filters-wrap {
  display: none;
}
.search-result {
  margin-top: 20px;
}
.search-result_hidden {
  display: none;
}
.search-result_empty #mse2_mfilter .filters-wrap {
  display: none;
}
